.header {
  background-color: aliceblue;
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

.header button {
  background-color: lightgreen;
  padding: 10px;
  box-shadow: 0ch;
  border-radius: 5px;
  outline: none;
  border: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
  font-size: 30px;
  font-weight: 200;
  margin-top: 5px;
}

.header button:active{
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}

.header button:hover{
  background-color: rgba(144, 238, 144, 0.301);
}

.array-bar {
  width: 100%;
  background-color: blue;
  margin: 1px;
}

.array-container{
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  margin: 2.5% 5% 5% 5%;
}
